# .NET Core
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files for x86
x86/

# ASP.NET temporary files
wwwroot/
Properties/

# Microsoft Visual Studio for Mac
.vscode/

# User-specific files for JetBrains Rider
.idea/

# .NET Core runtime settings
project.lock.json
project.fragment.lock.json

# NPM/Yarn files (if you're using Node.js or client-side packages)
node_modules/

# ASP.NET Core secrets (e.g., development environment secrets, or any personal information)
secrets/

# Publish folder
publish/

# Other
.vs/
.vs2019/
